.cv-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.cv-month-year {
  display: inline-block;
  width: 200px;
}

.cv-day {
  width: calc(100% / 7);
  padding: 0.5rem;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
}

.cv-day.cv-loading {
  will-change: background-color;
  -webkit-animation: cv-load 500ms alternate infinite;
          animation: cv-load 500ms alternate infinite;
}

.cv-day:nth-child(0) {
  -webkit-animation-delay: calc(0 * 50ms);
          animation-delay: calc(0 * 50ms);
}

.cv-day:nth-child(1) {
  -webkit-animation-delay: calc(1 * 50ms);
          animation-delay: calc(1 * 50ms);
}

.cv-day:nth-child(2) {
  -webkit-animation-delay: calc(2 * 50ms);
          animation-delay: calc(2 * 50ms);
}

.cv-day:nth-child(3) {
  -webkit-animation-delay: calc(3 * 50ms);
          animation-delay: calc(3 * 50ms);
}

.cv-day:nth-child(4) {
  -webkit-animation-delay: calc(4 * 50ms);
          animation-delay: calc(4 * 50ms);
}

.cv-day:nth-child(5) {
  -webkit-animation-delay: calc(5 * 50ms);
          animation-delay: calc(5 * 50ms);
}

.cv-day:nth-child(6) {
  -webkit-animation-delay: calc(6 * 50ms);
          animation-delay: calc(6 * 50ms);
}

.cv-day:nth-child(7) {
  -webkit-animation-delay: calc(7 * 50ms);
          animation-delay: calc(7 * 50ms);
}

.cv-day:nth-child(8) {
  -webkit-animation-delay: calc(8 * 50ms);
          animation-delay: calc(8 * 50ms);
}

.cv-day:nth-child(9) {
  -webkit-animation-delay: calc(9 * 50ms);
          animation-delay: calc(9 * 50ms);
}

.cv-day:nth-child(10) {
  -webkit-animation-delay: calc(10 * 50ms);
          animation-delay: calc(10 * 50ms);
}

.cv-day:nth-child(11) {
  -webkit-animation-delay: calc(11 * 50ms);
          animation-delay: calc(11 * 50ms);
}

.cv-day:nth-child(12) {
  -webkit-animation-delay: calc(12 * 50ms);
          animation-delay: calc(12 * 50ms);
}

.cv-day:nth-child(13) {
  -webkit-animation-delay: calc(13 * 50ms);
          animation-delay: calc(13 * 50ms);
}

.cv-day:nth-child(14) {
  -webkit-animation-delay: calc(14 * 50ms);
          animation-delay: calc(14 * 50ms);
}

.cv-day:nth-child(15) {
  -webkit-animation-delay: calc(15 * 50ms);
          animation-delay: calc(15 * 50ms);
}

.cv-day:nth-child(16) {
  -webkit-animation-delay: calc(16 * 50ms);
          animation-delay: calc(16 * 50ms);
}

.cv-day:nth-child(17) {
  -webkit-animation-delay: calc(17 * 50ms);
          animation-delay: calc(17 * 50ms);
}

.cv-day:nth-child(18) {
  -webkit-animation-delay: calc(18 * 50ms);
          animation-delay: calc(18 * 50ms);
}

.cv-day:nth-child(19) {
  -webkit-animation-delay: calc(19 * 50ms);
          animation-delay: calc(19 * 50ms);
}

.cv-day:nth-child(20) {
  -webkit-animation-delay: calc(20 * 50ms);
          animation-delay: calc(20 * 50ms);
}

.cv-day:nth-child(21) {
  -webkit-animation-delay: calc(21 * 50ms);
          animation-delay: calc(21 * 50ms);
}

.cv-day:nth-child(22) {
  -webkit-animation-delay: calc(22 * 50ms);
          animation-delay: calc(22 * 50ms);
}

.cv-day:nth-child(23) {
  -webkit-animation-delay: calc(23 * 50ms);
          animation-delay: calc(23 * 50ms);
}

.cv-day:nth-child(24) {
  -webkit-animation-delay: calc(24 * 50ms);
          animation-delay: calc(24 * 50ms);
}

.cv-day:nth-child(25) {
  -webkit-animation-delay: calc(25 * 50ms);
          animation-delay: calc(25 * 50ms);
}

.cv-day:nth-child(26) {
  -webkit-animation-delay: calc(26 * 50ms);
          animation-delay: calc(26 * 50ms);
}

.cv-day:nth-child(27) {
  -webkit-animation-delay: calc(27 * 50ms);
          animation-delay: calc(27 * 50ms);
}

.cv-day:nth-child(28) {
  -webkit-animation-delay: calc(28 * 50ms);
          animation-delay: calc(28 * 50ms);
}

.cv-day:nth-child(29) {
  -webkit-animation-delay: calc(29 * 50ms);
          animation-delay: calc(29 * 50ms);
}

.cv-day:nth-child(30) {
  -webkit-animation-delay: calc(30 * 50ms);
          animation-delay: calc(30 * 50ms);
}

.cv-day:nth-child(31) {
  -webkit-animation-delay: calc(31 * 50ms);
          animation-delay: calc(31 * 50ms);
}

.cv-day:nth-child(32) {
  -webkit-animation-delay: calc(32 * 50ms);
          animation-delay: calc(32 * 50ms);
}

.cv-day:nth-child(33) {
  -webkit-animation-delay: calc(33 * 50ms);
          animation-delay: calc(33 * 50ms);
}

.cv-day:nth-child(34) {
  -webkit-animation-delay: calc(34 * 50ms);
          animation-delay: calc(34 * 50ms);
}

.cv-day:nth-child(35) {
  -webkit-animation-delay: calc(35 * 50ms);
          animation-delay: calc(35 * 50ms);
}

.cv-day:nth-child(36) {
  -webkit-animation-delay: calc(36 * 50ms);
          animation-delay: calc(36 * 50ms);
}

.cv-day:nth-child(37) {
  -webkit-animation-delay: calc(37 * 50ms);
          animation-delay: calc(37 * 50ms);
}

.cv-day:nth-child(38) {
  -webkit-animation-delay: calc(38 * 50ms);
          animation-delay: calc(38 * 50ms);
}

.cv-day:nth-child(39) {
  -webkit-animation-delay: calc(39 * 50ms);
          animation-delay: calc(39 * 50ms);
}

.cv-day:nth-child(40) {
  -webkit-animation-delay: calc(40 * 50ms);
          animation-delay: calc(40 * 50ms);
}

.cv-day:last-child {
  border-right: 1px solid #000;
}

.cv-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-day-number {
  font-size: 85%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.cv-day-post a {
  display: block;
  font-size: 75%;
  margin-bottom: 0.5em;
  line-height: 145%;
  background-color: #eee;
  padding: 0.25rem;
}
.cv-day-post a:hover {
  background-color: #fefefe;
}

.cv-day-post.status-unlisted {
  font-style: italic;
}

.cv-day-post.status-draft {
  font-style: italic;
  opacity: 0.5;
}

@-webkit-keyframes cv-load {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

@keyframes cv-load {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}